footer{
    background-color: #2F3338;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;
        .footer__social{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            min-width: 90px;
            @media (max-width:500px){
                min-width: 70px;
            }
            a{
                border-radius: 100%;
                border: 3px solid #454648;
                background: #37414E;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                @media (max-width:500px){
                    height: 30px;
                    width: 30px;
                }
                img{
                    margin: 0 auto;
                    
                }
            }
        }
    }
}